<!DOCTYPE html>
<html>

<head>
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta property="og:image" content="{{ .Site.BaseURL }}images/zen-share.png" />
  <meta property="og:type" content="article" />
  <meta name="twitter:card" content="summary_large_image" />
  {{if .IsHome}}
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta name="description" content="">
  <meta name="keywords" content="" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  {{ end }}  
  {{if not .IsHome}}
  <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}" />
  <meta name="description" content="{{ .Description }}">
  <meta name="keywords" content="{{ delimit .Keywords ", " }}" />
  <meta property="og:description" content="{{ .Description }}" />
  <meta property="og:url" content="{{ .Site.BaseURL }}{{ .Slug }}" />
    {{ end }}  
  <!--
  <link rel="icon" href="/images/favicon.ico?{{ now.Unix }}" type="image/icon" />
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,600,700&amp;subset=latin-ext" rel="stylesheet">
   -->
  <link rel="stylesheet" href="/bundle.css?{{ now.Unix }}" />
</head>

<body>
