{{ partial "header" . }}

<div class="header front">
</div>
<div class="breadcrumb hidden">
  <div class="slab">
    <a href="/">All topics</a> » <span>{{ .Title }}</span>
  </div>
</div>
<div class="content">
  <div class="slab">
    x
  {{ range .Data.Pages }}
  {{ if eq .Type "topics" }}
  <a class="article-box" href="/topics/{{ .Slug }}">
    <h2>{{ .Title }}</h2>
    <p class="summary">{{ .Description }}</p>
    <p class="author">
      <img src="/images/{{ .Param "author.pic" }}" alt="." />
      <span>Written by {{ .Param "author.name" }}</span>
    </p>
  </a>
  {{ end }}
  {{ end }}
  </div>
</div>
  
{{ partial "footer" . }}
